/* main html */
.central {
    text-align: center;
}

.footer {
  font-family: sans-serif;
  position: absolute;
  bottom: 0px;
  margin:auto;
  left: 0px;
  right: 0px;
  width: 40%;
}

/* upload */
.area {
  padding: 20px;
  margin-left: 230px;
}

.uppy-Dashboard {
  height: 100%;
}

.uppy-DashboardItem-previewInnerWrap {
  background-color: #ffe482 !important;
}

.uppy-DashboardItem-previewInnerWrap:hover {
  background-color: #89c3b0 !important;
}

#preview-area {
  height: 900px;
  width: 600px;
  padding: 50px;
  margin-left: 240px;
  float: left;
}

.cloud-tags {
  margin-left: 850px;
  margin-right: 50px;
  margin-top: 50px;
}

.side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 4px solid #78c5ae;
}

.side-nav li > a {
  font-size: 12px;
}
